<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
Update Author:
<form action="/saveAuthor" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${author.id}">
    <input type="text" name="name" th:value="${author.name}" ><br>
    <input type="text" name="surname" th:value="${author.surname}" ><br>
    <input type="text" name="email" th:value="${author.email}"><br>
    <select name="gender" >
        <option disabled selected th:text="${author.gender }" >Assing gender</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select><br>
    <input type="file" name="image"/><br>
    <textarea name="bio" th:text="${author.bio}" placeholder="Please input biography"></textarea><br>
    <input type="submit" value="Ok">
</form>

</body>
</html>