<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
Update Author:
<form th:action="@{/updateAuthor(id=${author.id})}" method="post" >
    <input type="text" name="name" th:value="${author.name}" placeholder="Please inpute name"><br>
    <input type="text" name="surname" th:value="${author.surname}" placeholder="Please inpute surname"><br>
    <input type="text" name="email" th:value="${author.email}" placeholder="Please inpute email"><br>
    <select name="gender">
        <option disabled selected>Assing gender</option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select><br>
    <textarea name="bio" th:value="${author.bio}" placeholder="Please input biography"></textarea><br>
    <input type="submit" value="Ok">
</form>

</body>
</html>